h1 {
    background-color: LightSkyBlue; text-align: center; 
}
h2 {
    text-align: center; 
}
body {
    background-color: DarkSlateBlue;
}
#HomeHome {
    
}
#DropdownHome {
    
    display: inline-block
    }
#pagesHome {
    display: none;
}
#DropdownHome:hover #pagesHome {
    background-color: LightSkyBlue;
    display: block; 
    position: absolute;
}#HomeAbout {
    
}
#DropdownAbout {
    
    display: inline-block
    }
#pagesAbout {
    display: none;
}
#DropdownAbout:hover #pagesAbout {
    background-color: LightSkyBlue;
    display: block; 
    position: absolute;
}
#HomeCorpus {
    
}
#DropdownCorpus {
    display: inline-block
    
    }
#pagesCorpus {
    display: none;
}
#DropdownCorpus:hover #pagesCorpus {
    background-color: LightSkyBlue;
    display: inline-block;
    position: absolute;
}
#HomeResults {
    
}
#DropdownResults {
    
    display: inline-block
    }
#pagesResults {
    display: none;

}
#DropdownResults:hover #pagesResults {
    background-color: LightSkyBlue;
    display: block;
    position: absolute;
}
a{
    display:block;
}
p{
    font-size: x-large;
    text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#second{
    background-color: AliceBlue;
    color: black;
    padding: 15px;
    width: 1000px;
    margin: 30px auto;
}
.menu {
    text-align: center;
}
.null {
    background-color:pink;
}