h1 {
    background-color: LightSkyBlue; text-align: center; 
}
body {
    background-color: Tomato;
}
#Home {
    
}
#Dropdown {
    
    position: absolute;
    }
#pages {
    display: none;
}
#list:hover #pages {
    background-color: black;
    display: block; 
}
